/* main.css */
@media (max-width: 1280px) {
canvas {
width: 100%; height: 45%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
}
@media (min-width: 1280px) {
.indexbackground {
width: 100%; height: 164%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.contactbackground {
width: 100%; height: 95%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.aboutbackground {
width: 100%; height: 201%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo12background {
width: 100%; height: 122%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo16background {
width: 100%; height: 146%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo20background {
width: 100%; height: 170%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo24background {
width: 100%; height: 188%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo28background {
width: 100%; height: 213%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo32background {
width: 100%; height: 237%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo36background {
width: 100%; height: 263%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo40background {
width: 100%; height: 287%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo44background {
width: 100%; height: 308%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo60background {
width: 100%; height: 400%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
} /* end @media 1280 px */
@media (min-width: 1900px) {
.indexbackground {
width: 100%; height: 118%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.contactbackground {
width: 100%; height: 95%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.aboutbackground {
width: 100%; height: 118%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo12background {
width: 100%; height: 100%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo16background {
width: 100%; height: 100%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo20background {
width: 100%; height: 96%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo24background {
width: 100%; height: 96%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo28background {
width: 100%; height: 118%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo32background {
width: 100%; height: 128%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo36background {
width: 100%; height: 128%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo40background {
width: 100%; height: 140%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo44background {
width: 100%; height: 140%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
.photo60background {
width: 100%; height: 186%;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}
 }   /* end @media 1920 px */ /* end @media 1920 px */
.wrapper {
width: 90%;
margin: 0 auto;
}
.editable {
width: 100%;
background-color: rgba(0, 0, 0, 0.90);
opacity:.95;
font-weight: normal;
color: #ffffff;
padding-left: 1%;
}
header {
width: 100%;
margin: 3% auto;
background-color: rgba(0, 0, 0, 0.90);
opacity:.95;
}
h1 { 
background-color: #9f0f0e;
opacity:.95;
    font-size: 1.7em;
	color: white;
	padding-left: 1%;
}
.logo {
margin: 5% auto;
}
.navbar-default {
background-color: rgba(0, 0, 0, 0.90);
opacity:.95;
border-color: rgba(0, 0, 0, 0.90);
}
.navbar .nav .active > a {
background-color: #9f0f0e;
}
.form {
margin: 10% auto;
}
.redline {
width: 100%;
height: 10px;
padding-top: -20%;
background-color: #9f0f0e;
z-index: "2";
}
img {
display: block;
margin: auto;
}
.color_link {
color: #FFFFFF;
text-shadow: black 0.1em 0.1em 0.2em;
}
footer {
background-color: #ffffff;
width: 90%;
margin: 2% auto;
style="z-index:2;"
}